body {
  padding: 0;
  margin: 0;
  background-color: #ececec;
}

h1 {
  text-align: center;
}

h3 {
  text-align: center;
}

h5 {
  text-align: center;
}

h6 {
  text-align: center;
}

input {
  text-align: center;
}

select {
  text-align: center;
}
